*{
    margin: 0px;
    padding: 0px;
}
 
#focusedTab{
    background-color: rgb(196, 196, 196);
}

header{
    height: 150px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav{
   padding-bottom: 15px; 
   padding-right: 170px;
}

header form {
    padding: 20px
}

.primaryContainer{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

footer{
    padding-left: 40px;
}

aside{
    padding:20px;
}

aside h2{
    padding-bottom: 10px;
}

h1{
    padding-bottom: 20px;
}

main h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

main form {
    padding-bottom: 20px;
}

main section form {
    width: 150px;
    padding-top: 20px;
    padding-left: 10px;

}

.inputError {
    border: solid;
    border-color:red;  
    border-width: .2em;
    margin-bottom: 0px;
}

.error {
    width:100%;
    font-size: 90%;
    color: red;
     margin-bottom: 3px;
}

main section form label {
    display: flex;
    flex-direction: column;
}

main section form label input{
    margin-bottom: 21px;
    width: 150px
}

main section form label input{
    margin-bottom: 21px;
    width: 150px
}

main section form button{
    width: 150px;
    height: 30px;
}

::placeholder{
    font-size: 80%;
}

.orderDefaultTabs h3 {
    padding-bottom: 10px;
}
.tabNames{
    display:flex;
    flex-wrap: wrap;
}

.tabNames button{
    border: solid;
    border-width: thin;
    padding:10px; 
    background-color: white;
    
}

.tabNames button:hover{
    background-color: rgb(196, 196, 196);
}

.tabNames button:focus{
    background-color: rgb(196, 196, 196);
}

.orderFormSection {
    display: flex;
    flex-direction: column;
}

.orderFormSection form{
    display: flex;
    flex-direction: column;
    width:  200px;
    padding-left: 10px;
    padding-top: 10px;
}

.greyBackground {
    background-color: rgb(196, 196, 196);
}

.border{
    border: solid;
    border-width: thin;
}

.vipModal{
    width: 520px;
    height: 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 300px;
    background-color: white;
}

.vipModal button {
    height: 30px;
    padding: 5px; 
}

.paddingBottom {
    padding-bottom: 20px;
}

.vipModal ul {
    padding-left: 15px;
}

.hidden {
    display:none;
}

#overlay{
    background-color: black;
    position: absolute;
    z-index:1;
    width: 100%;
    height: 1110px;
    opacity: .50;
};